/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto; /* Center the container */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

h1 {
    text-align: center;
}

.datetime {
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    color: #555; /* Color for the date and time text */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Full-width buttons */
    margin-top: 10px; /* Add some space above the button */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
